{{define "thread"}}
<!DOCTYPE html>
<html lang="en">
{{template "thread_head" .}}
<body style="max-width:650px;margin:0 auto;padding:5px;">
    {{template "thread_header" .}}

    <!-- main post -->
    <article style="margin-bottom:10px;">
        <div>
            <img src="{{.Post.Author.Avatar}}" alt="{{.Post.Author.DisplayName}}'s avatar" style="width:50px;border-radius:50%;float:left;margin-right:10px;padding:0;">
            <a href="/" style="color:inherit;text-decoration:none;">
                <h1 style="margin-bottom:0;margin-top:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{.Post.Author.DisplayName}}</h1>
                <p style="margin-top:0;" class="handle">@{{.Post.Author.Handle}}</p>
            </a>
        </div>
        <p style="clear:both;">
            {{.Post.Record.HTML}}
        </p>
        <section>
            {{range .Post.Embed.Images}}
            <img src="{{.Thumb}}" alt="{{.Alt}}" style="margin-bottom:10px;">
            {{end}}
        </section>
        <time datetime="{{.Post.Record.CreatedAt}}" class="date">{{.Post.Record.CreatedAt.Format "Jan 02, 2006 at 15:04 UTC" }}</time>

        <p class="counts" style="margin-bottom:0;">
            <b>{{.Post.ReplyCount}}</b> replies &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
        </p>

        <hr>
    </article>

    <span id="replies"></span>
    {{range .Replies}}
    <article>
        <!-- reply -->
        {{if eq $.Post.Author.DID .Post.Author.DID}}
        <a href="/post/{{.Post.RKey}}" style="color:inherit;text-decoration:none;">
        {{else if ne $.Post.Author.DID .Post.Author.DID}}
        <a href="https://htmlsky.app/profile/{{.Post.Author.DID}}/post/{{.Post.RKey}}" style="color:inherit;text-decoration:none;">
        {{end}}
            <div>
                <img src="{{.Post.Author.Avatar}}" alt="{{.Post.Author.DisplayName}}'s avatar" style="width:40px;border-radius:50%;float:left;margin-right:10px;">
                <p style="margin:0;">
                    <b>{{.Post.Author.DisplayName}}</b>
                    <span class="handle">@{{.Post.Author.Handle}}</span>
                    &middot;
                    <time datetime="{{.Post.Record.CreatedAt}}" style="margin-top: 1em;" class="date">{{.Post.Record.CreatedAt.Format "1/2/2006 15:04 UTC" }}</time>
                </p>
            </div>
            <div style="margin-left: 3.5em;">
                <p style="margin-top:5px;">
                    {{.Post.Record.HTML}}
                </p>
                <section>
                    {{range .Post.Embed.Images}}
                    <img src="{{.Thumb}}" alt="{{.Alt}}" style="padding-bottom:10px;">
                    {{end}}
                </section>
        </a>
                <p style="margin-top:20px;margin-bottom:5px;" class="counts">
                    <a href="#replies" style="color:inherit;text-decoration:none;"><b>{{.Post.ReplyCount}}</b> replies</a> &middot; <b>{{.Post.RepostCount}}</b> reposts &middot; <b>{{.Post.LikeCount}}</b> likes
                </p>
            </div>
        <hr>
    </article>
    {{end}}
</body>
</html>
{{end}}

{{template "thread" .}}