{{define "actor"}}
<!DOCTYPE html>
<html lang="en">
{{template "actor_head" .}}
<body style="max-width:650px;margin:0 auto;padding:5px;">
	{{template "actor_header" .}}

	<!-- user profile -->
	<article>
		<div style="position:relative;margin-bottom:50px;">
			<img src="{{.Banner}}" alt="{{.DisplayName}}'s banner" style="position:relative;aspect-ratio:3/1;max-width:100%;">
			<img src="{{.Avatar}}" alt="{{.DisplayName}}'s avatar" style="width:100px;border-radius:50%;position:absolute;left:10px;bottom:-50px;">
		</div>
		<h1 style="margin-bottom:0;">{{.DisplayName}}</h1>
		<p style="margin:auto 0;" class="handle">@{{.Handle}}</p>
		<p style="margin:10px 0;" class="counts"><b>{{.FollowersCount}}</b> followers <b>{{.FollowsCount}}</b> following <b>{{.PostsCount}}</b> posts</p>
		<p style="white-space:pre-line">{{.DescriptionHTML}}</p>
		<hr>
	</article>

	<span id="feed"></span>
	{{range .Feed}}
		{{template "feed_post" .}}
    {{end}}
</body>
</html>
{{end}}

{{template "actor" .}}