:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root {
        --secondary: dimgray;
        --primary: black;
        --link: royalblue;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --secondary: darkgray;
        --primary: white;
        --link: dodgerblue;
    }
}

html {
    padding: 0;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: var(--secondary);
}

body {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px 15px;
    font-family: system-ui, sans-serif;
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
}

code, pre {
    font-family: ui-monospace;
}

a, a:visited {
    color: var(--link);
    text-decoration: none;
}

.handle, .counts, .date, .repost {
    color: var(--secondary);
}

.counts b {
    color: var(--primary);
}

img {
    max-width: 100%;
}